.styled-paragraph {
    background-color: rgba(233, 48, 48, 0.2); /* Light background color */
    color: black; /* Text color */
    padding: 15px; /* Space around text */
    border-radius: 8px; /* Rounded corners */
    width: 500px; /* Adjust width to content */
    margin: 20px auto; /* Center the paragraph */
    text-align: center; /* Align text */
    font-size: 16px; /* Adjust font size */
    font-family: Arial, sans-serif; /* Font style */
   
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(202, 5, 5);
    text-align: center;
    margin-bottom: 5px;
}


body {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 253, 253);
}

.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1.0);
    }

    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;

}

.heart::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;

}